/* Formulário de adição de vagas */

#add-form-container {

    margin-top: 100px;

}

#form-box {

    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 50px;

}

#add-form-container h1 {

    margin-bottom: 20px;

}

#add-form-container h2 {

    color: #e0a800;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 30px;

}

#add-form-container form label {

    font-weight: bold;

}

#add-form-container form input,
#add-form-container form textarea {

    border: 2px solid #CCC;
    background-color:#F8F9FA;

}

#form-box button {

    height: 50px;
    width: 150px;
    background-color: #e0a800;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
    color: #000;
}
