/* View individual da vaga */

#job-view-container {

    margin-top: 100px;
   
}

.main-color {

    color: #7B68EE;

}

.back-link {

    border: 1px solid #7B68EE;
    padding: 5px 10px;
    transition: .5s;
    cursor:pointer;

}

.back-link:hover {

    background-color: #7B68EE;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

#job-content {

    box-shadow: 1px 0 10px rgba(78, 24, 186, 0.85);
    padding: 10px 0;
    margin-top: 20px;
    background-color: rgb(251, 251, 251);

}

#job-view-container h1 {

    margin-bottom: 30px;

}

#img-container  {

    margin-top: 20px;
    margin-bottom: 30px;

}

#img-container img {

    width: 100px;
    border-radius: 50%;
    border: 1px solid #BBB;

}

.job-desc {

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;

}

.bold {

    font-weight: bold;

}

.bold.main-color {

    border-bottom: 2px solid #7B68EE;

}